*{
    margin:0;
    padding:0;
}
#tournament{
    position:relative;
    overflow:hidden;
}
#tournament > article {
    display: none;
  }
  
  #tournament > article:first-child {
    display: block;
  }
  